<section
  id="about"
  class="py-24 bg-base-200 will-animate">
  <div class="container mx-auto flex flex-col md:flex-row gap-10 items-center">
    <div class="flex-1 will-animate">
      <h2 class="text-3xl font-bold text-center md:text-left">Sobre mim</h2>
      <p class="mt-4 text-base-content/80">
        Fundadora da Clínica e Bacharel em Estética e Cosmética pela
        Universidade Anhembi Morumbi, com 4 anos de experiência na área,
        especialista em Estética Corporal e Facial. Iniciou sua carreira
        estagiando em uma Clínica de Estética em 2022, e foi onde descobriu sua
        paixão por procedimentos corporais.
      </p>
      <p class="mt-4 text-base-content/80">
        Desde então, fundou a Clínica Larissa Carvalho Estética que busca
        proporcionar tratamentos que resgatam a autoestima, a confiança e o bem-
        estar dos pacientes, com resultados eficazes e com o compromisso de
        oferecer tratamentos seguros e alinhados ás necessidades de cada
        paciente.
      </p>
      <p class="mt-4 text-base-content/80">
        A Clínica Larissa Carvalho Estética é um espaço dedicado ao cuidado
        integral, onde cada detalhe é pensado para proporcionar uma experiência
        sofisticada, acolhedora e personalizada. Mais do que tratamentos
        estéticos, a clínica oferece momentos de reconexão e cada atendimento é
        único, respeitando a individualidade e os objetivos de cada paciente. Um
        convite para que cada paciente se reconecte com sua melhor versão, com
        leveza, confiança e harmonia.
      </p>
    </div>

    <img
      src="/assets/lari.webp"
      alt="Foto da Larissa"
      class="flex-2 rounded-lg overflow-hidden max-w-135 mx-auto md:ml-auto w-full h-full will-animate"
    />
  </div>
</section>
