---
import siteData from "@/siteData";
import WhatsAppIcon from "~icons/mdi/whatsapp";
const whatsapp = siteData.whatsappNumber ?? "#";
---

<div class="fab">
  <a
    href={`https://wa.me/${whatsapp}?text=Oi, Lari, vim pelo site.`}
    rel="noopener noreferrer"
    target="_blank"
    class="btn btn-lg btn-circle btn-success text-success-content hover:scale-105 tooltip tooltip-left"
    data-tip="WhatsApp"
    ><WhatsAppIcon class="text-xl" /></a
  >
</div>
