<section
  id="location"
  class="py-24 will-animate">
  <div class="container mx-auto">
    <div class="text-center mb-10 will-animate">
      <h2 class="text-3xl font-bold">Nossa localização</h2>
      <p class="mt-3 text-base-content/70">
        Venha nos visitar e conhecer nosso espaço. Estamos ansiosos para
        recebê-lo!
      </p>
    </div>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.8128282864354!2d-46.3695674!3d-23.539233499999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce652efe50206b%3A0xd193b3ab3a23887!2sR.%20Francisca%2C%2022%20-%20Vila%20Andeyara%2C%20Ferraz%20de%20Vasconcelos%20-%20SP%2C%2008530-200!5e0!3m2!1sen!2sbr!4v1773784960088!5m2!1sen!2sbr"
      height="400"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="w-full rounded-xl will-animate"
    ></iframe>
  </div>
</section>
