---
import siteData from "@/siteData";
import Card from "@/components/Card.astro";
const baseMessage = "Oi, Lari, tenho algumas dúvidas sobre |placeholder|, poderia me ajudar?";
const baseUrl = "https://wa.me/5511916876144?text=";
---

<section
  id="procedures"
  class="pt-24 will-animate">
  <div class="container mx-auto">
    <div class="text-center mb-10 will-animate">
      <h2 class="text-3xl font-bold">Conheça nossas especialidades</h2>
      <p class="mt-3 text-base-content/70">
        Procedimentos pensados para elevar sua autoestima com conforto e segurança.
      </p>
    </div>

    <div class="grid gap-6 md:grid-cols-4">
      {
        siteData.procedures.map((procedure) => (
          <Card
            title={procedure.title}
            image={procedure.image}
            description={procedure.description}
            link={`${baseUrl}${encodeURIComponent(baseMessage.replace("|placeholder|", procedure.title))}`}
          />
        ))
      }
    </div>
  </div>
</section>
